@tailwind base;
@tailwind components;
@tailwind utilities;

/********************
* container
********************/

.container {
	@apply mx-auto p-4;
}
@media (min-width: 1536px) {
	.container {
		max-width: 1535px;
	}
}
@media (max-width: 1535px) {
	.container {
		max-width: 1280px;
	}
}
@media (max-width: 1279px) {
	.container {
		max-width: 1024px;
	}
}
@media (max-width: 1023px) {
	.container {
		max-width: 768px;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: 640px;
	}
}
@media (max-width: 639px) {
	.container {
		max-width: 100%;
	}
}

/********************
* Grid item
********************/

.grid-item {
	@apply p-10 xl:p-5 rounded-xl space-y-4 sm:col-span-1;
}

.item-header {
	@apply flex space-x-4 items-center;
}

.item-header img {
	@apply w-12 rounded-full border-2 border-purple-300;
}

.item-header p {
	@apply opacity-50;
}

.item-title h2 {
	@apply text-xl;
}

.item-body {
	@apply opacity-50;
}
